import React, { useEffect, useState } from "react";
import MapView from "react-native-maps";
import { StyleSheet, Text, View} from "react-native";
import FreeNowCars from "./components/FreeNowCars";

export default function App() {
  const [cars, setCars] = useState([]);
  const [loading, setLoading] = useState(false);
  
  useEffect(() => {
    const getCars = async () => {
      try {
        setLoading(true);
 const {data} = await axios.get(
   "http://localhost:5000/free-now/vehicles"
 );
setCars(data.poiList);
console.log(cars)
setLoading(false);
      }catch(error){
        return alert("Sorry, no data")
      }
    };
    getCars();   
  },[]);

  return (
    <View style={styles.container}>
      {loading?(
<Text>Loading...</Text>
) : (<MapView
        initialRegion={{
          latitude: 53.5532316,
          longitude: 10.0087783,
          longitudeDelta: 0.045,
          latitudeDelta: 0.045,
        }}
        style={styles.mapView}
      >
        {cars.map((car) => (
          <FreeNowCars
            key={car.id}
            id={car.id}
            location={{
              latitude: car.coordinate.latitude,
              longitude: car.coordinate.longitude,
            }}
          />
        ))}
      </MapView>)}
      <Text>FreeNowCars2 </Text>
    </View>
  );
}

const styles = StyleSheet.create({
  container: {
    flex: 1,
  },
  mapView: {
    flex: 1,
  },
});















const fakeDriverLocations = [
  {
    'id': 1,
    "coordinate": {
      "latitude": 53.5514746,
      "longitude": 10.0031117
  },
},
  {
    'id': 2,
    "coordinate": {
      "latitude": 53.55342888743947,
      "longitude": 10.007842183122419
  },
  },
  {
    'id': 3,
    "coordinate": {
      "latitude": 53.58222524795621,
      "longitude": 10.066394607153665
  },
  },
];
